@{
}

<body>
    <h3 style="text-align:center">Список магазинов</h3>

    <br />

    <table class="color_table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Адрес</td>
                <td>Режим работы</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.StoreEntities)
            {
                <tr>
                    <th>@item.Name</th>
                    <th>@item.Address</th>
                    <th>@item.OperatingMode</th>
                    <th>@Html.ActionLink("Подробнее", "StoreProducts", "Home", new { storeId = item.Id }, null)</th>
                </tr>
            }
        </tbody>
    </table>
</body>