@{
}

    <body>
        <h3 style="text-align:center">Список товаров магазина</h3>

        <br />

        <table class="color_table">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Описание</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewBag.ProductEntities)
                {
                    <tr>
                        <th>@item.Name</th>
                        <th>@item.Description</th>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align:center">
            @Html.ActionLink("На домашнюю страницу", "Index", "Home")
        </div>
    </body>